[paths]
source =
    ../shopyo
    */site-packages/shopyo

[run]
branch = true
parallel = true
source =
    shopyo
    .
omit =
    # omit anything in a .local directory anywhere
    */.tox/*
    */instance/*

[report]
show_missing = true
precision = 2